section.ud-404
  .container
    .row
      .col-lg-12
        .ud-404-wrapper
          .ud-404-content
            h2.ud-404-title 404 - We couldn't find that page.
            h5.ud-404-subtitle Maybe you can find what you need here?
            ul.ud-404-links
              li
                a(href="javascript:void(0)") Home
              li
                a(href="javascript:void(0)") Support
              li
                a(href="javascript:void(0)") Latest News