section#about.ud-about
  .container
    .ud-about-wrapper.wow.fadeInUp(data-wow-delay=".2s")
      .ud-about-content-wrapper
        .ud-about-content
          span.tag About Us
          h2 Brilliant Toolkit to Build Nextgen Website Faster.
          p
            | The main ‘thrust’ is to focus on educating attendees on how to
            |   best protect highly vulnerable business applications with
            |   interactive panel discussions and roundtables led by subject
            |   matter experts.
          p
            | The main ‘thrust’ is to focus on educating attendees on how to
            |   best protect highly vulnerable business applications with
            |   interactive panel.
          a.ud-main-btn(href="javascript:void(0)") Learn More
      .ud-about-image
        img(alt="about-image" src="../assets/images/about/about-image.svg")
