section.ud-blog-grids
  .container
    .row
      each i in [1,2,3,1,2,3,1,2,3]
        .col-lg-4.col-md-6
          .ud-single-blog
            .ud-blog-image
              a(href="#blog-details.html")
                img(
                  alt="blog" 
                  src="../assets/images/blog/blog-0" + i + ".jpg"
                  )
            .ud-blog-content
              span.ud-blog-date Dec 22, 2023
              h3.ud-blog-title
                a(href="#blog-details.html") Meet AutoManage, the best AI management tools
              p.ud-blog-desc
                | Lorem Ipsum is simply dummy text of the printing and
                |   typesetting industry.
