section#features.ud-features
  .container
    .row
      .col-lg-12
        .ud-section-title
          span Features
          h2 Main Features of Play
          p
            | There are many variations of passages of Lorem Ipsum available
            |   but the majority have suffered alteration in some form.
    .row
      .col-xl-3.col-lg-3.col-sm-6
        .ud-single-feature.wow.fadeInUp(data-wow-delay=".1s")
          .ud-feature-icon
            i.lni.lni-gift
          .ud-feature-content
            h3.ud-feature-title Free and Open-Source
            p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
            a.ud-feature-link(href="javascript:void(0)") Learn More
      .col-xl-3.col-lg-3.col-sm-6
        .ud-single-feature.wow.fadeInUp(data-wow-delay=".15s")
          .ud-feature-icon
            i.lni.lni-move
          .ud-feature-content
            h3.ud-feature-title Multipurpose Template
            p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
            a.ud-feature-link(href="javascript:void(0)") Learn More
      .col-xl-3.col-lg-3.col-sm-6
        .ud-single-feature.wow.fadeInUp(data-wow-delay=".2s")
          .ud-feature-icon
            i.lni.lni-layout
          .ud-feature-content
            h3.ud-feature-title High-quality Design
            p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
            a.ud-feature-link(href="javascript:void(0)") Learn More
      .col-xl-3.col-lg-3.col-sm-6
        .ud-single-feature.wow.fadeInUp(data-wow-delay=".25s")
          .ud-feature-icon
            i.lni.lni-layers
          .ud-feature-content
            h3.ud-feature-title All Essential Elements
            p.ud-feature-desc Lorem Ipsum is simply dummy text of the printing and industry.
            a.ud-feature-link(href="javascript:void(0)") Learn More
