
section#pricing.ud-pricing
  .container
    .row
      .col-lg-12
        .ud-section-title.mx-auto.text-center
          span Pricing
          h2 Our Pricing Plans
          p
            | There are many variations of passages of Lorem Ipsum available
            |   but the majority have suffered alteration in some form.
    .row.g-0.align-items-center.justify-content-center
      .col-lg-4.col-md-6.col-sm-10
        .ud-single-pricing.first-item.wow.fadeInUp(data-wow-delay=".15s")
          .ud-pricing-header
            h3 STARTING FROM
            h4 $ 19.99/mo
          .ud-pricing-body
            ul
              li 5 User
              li All UI components
              li Lifetime access
              li Free updates
              li Use on 1 (one) project
              li 4 Months support
          .ud-pricing-footer
            a.ud-main-btn.ud-border-btn(href="javascript:void(0)") Purchase Now
      .col-lg-4.col-md-6.col-sm-10
        .ud-single-pricing.active.wow.fadeInUp(data-wow-delay=".1s")
          span.ud-popular-tag POPULAR
          .ud-pricing-header
            h3 STARTING FROM
            h4 $ 30.99/mo
          .ud-pricing-body
            ul
              li 5 User
              li All UI components
              li Lifetime access
              li Free updates
              li Use on 1 (one) project
              li 4 Months support
          .ud-pricing-footer
            a.ud-main-btn.ud-white-btn(href="javascript:void(0)") Purchase Now
      .col-lg-4.col-md-6.col-sm-10
        .ud-single-pricing.last-item.wow.fadeInUp(data-wow-delay=".15s")
          .ud-pricing-header
            h3 STARTING FROM
            h4 $ 70.99/mo
          .ud-pricing-body
            ul
              li 5 User
              li All UI components
              li Lifetime access
              li Free updates
              li Use on 1 (one) project
              li 4 Months support
          .ud-pricing-footer
            a.ud-main-btn.ud-border-btn(href="javascript:void(0)") Purchase Now
