extends ./layouts/main_layout.pug

block content
  include ./sections/hero.pug
  include ./sections/features.pug
  include ./sections/about.pug
  include ./sections/pricing.pug
  include ./sections/faq.pug
  include ./sections/testimonials.pug
  include ./sections/team.pug
  include ./sections/contact.pug
